**/__Previews/
**/History/
Doc/Calculations/.idea/
Altium/Direct FM modulator test/Project Logs for Direct FM modulator test/
Altium/Filter board test/Project Logs for Filter board test/
Altium/AGC test/Project Logs for AGC test/
Altium/Qadrature FM demodulator/Project Logs for Qadrature FM demodulator/
Altium/RX_test_01/Project Logs for RX_test_01/
